language: ruby
sudo: required
rvm:
  - 2.6.0
cache: bundler
branches:
  only:
    - master
addons:
  apt:
    packages:
      - libmagic1
      - libmagic-dev
install:
  - travis_retry bundle update
  - sudo add-apt-repository -y ppa:git-core/ppa
  - sudo apt-get update -y
  - sudo apt-get install -y git
script:
  - git config --global user.email "server@0pdd.com"
  - git config --global user.name "0pdd.com"
  - rake
after_success:
  - "bash <(curl -s https://codecov.io/bash)"

