%p
  %a{href:'/'}
    %img.logo{src:'https://avatars2.githubusercontent.com/u/24456188'}
%p{style:'color: red;'}
  Internal error at
  =ver
%p
  Please help us improve our service and submit the following
  stacktrace to our issue tracker in GitHub:
  %a{href:'https://github.com/yegor256/0pdd'}
    yegor256/0pdd
%pre
  &=error
