%div.center
  %p
    %a{href:'/'}
      %img.logo{src:'https://avatars2.githubusercontent.com/u/24456188'}
  %p
    PDD puzzles collector.
  %p
    %a{href:'http://www.yegor256.com/2017/04/05/pdd-in-action.html'} How it works?
  - if !tail.empty?
    %p
      Recent commits:
      %br
      - tail.each_with_index do |r, i|
        %span
          %a{href:'https://github.com/' + r}>= r
  %p
    Made by
    %a{href:'http://www.yegor256.com'} @yegor256
    for
    = succeed "." do
      %a{href:'http://www.zerocracy.com'} Zerocracy
  %p
    %a{href:'http://www.sixnines.io/h/574a'}
      %img{src:'http://www.sixnines.io/b/574a'}
    %a{href:'http://www.rehttp.net/i?u=http%3A%2F%2Fwww.0pdd.com%2Fhook%2Fgithub'}
      %img{src:'http://www.rehttp.net/b?u=http%3A%2F%2Fwww.0pdd.com%2Fhook%2Fgithub'}
  %p
    %a{href:'https://github.com/yegor256/0pdd'}
      %img{src:'https://img.shields.io/github/stars/yegor256/0pdd.svg'}
  %p.versions
    %img{:src=>'/images/logo.svg', :alt=>'Currently deployed version'}
    =ver
    %img{:src=>'/images/git-logo.svg', :alt=>'Git version on the server'}
    =git_version
    %img{:src=>'/images/ruby-logo.svg', :alt=>'Ruby version on the server'}
    =ruby_version
