%div.center
  %p
    %a{:href => '/'}
      %img.logo{:src => 'https://avatars2.githubusercontent.com/u/24456188'}
  %p
    %a{:href => 'http://www.yegor256.com/2009/03/04/pdd.html'} PDD
    puzzles collector.
  - if !tail.empty?
    %p
      Recent commits:
      !='&nbsp;'
      - tail.each_with_index do |r, i|
        %span
          %a{:href => 'https://github.com/' + r}>= r
  %p
    Made by
    %a{:href => 'http://www.yegor256.com'} @yegor256
    for
    = succeed "." do
      %a{:href => 'http://www.zerocracy.com'} Zerocracy
  %p
    %a{:href => 'http://www.sixnines.io/h/574a'}
      %img{:src => 'http://www.sixnines.io/b/574a'}
  %p
    %a{:href => 'https://github.com/yegor256/0pdd'}
      %img{:src => 'https://img.shields.io/github/stars/yegor256/0pdd.svg'}
  %p
    =ver
