---
name: rake
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    name: test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        ruby: ['2.7', '3.0']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - run: bundle update
      - run: bundle exec rake
